.navbar{
	
top: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f7faff;
  position: fixed;
  width: 100%

}

#icona{
	color:white;
	margin-left: 130px;
    margin-top: 30px;
}





