
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="sidebar">
  <div ><img id="scudo"src="https://www.negozio-medievale.it/17534-large_default/>scudo-oplita.jpg.pagespeed.ce.vYP0no5Bh8.jpg"></div>
    <div id="John">John Doe</div>
  <a href="#home"><i class="material-icons">av_timer</i> Home</a>
  <a href="#services"><i class="material-icons">toc</i> Prenota</a>
  <a href="#clients"><i class="material-icons">menu</i> Tariffe</a>
  <a href="#contact"><i class="material-icons">tab</i>Contabilità</a>
  <a href="#contact"><i class="material-icons">stars</i>Documenti</a>

</div>